 <section id="contact" class="contact section has-pattern">
        <div class="container">
            <div class="contact-inner">
                <h2 class="title  text-center">What have done so far.</h2>
                <p class="intro  text-center"></p>
                <div class="author-message">                      
                    <div class="profile">
                        <img class="img-responsive" src="images/Achyut.jpg" alt="" />
                    </div><!--//profile-->
                    <div class="speech-bubble">
                        <h3 class="sub-title">What kind of telephony solution are you looking for?</h3>
                        <p>I have been working in the field of telephony for last couple of years. Planning, designing and coding of creative applicable telephone system is my job. Telephone automation ,,,, Where <a href="#">asterisk</a>,Freeswitch,<a href="#">adhearsion</a> are my some tools.</p>
                        <p>If you like what I do, you can follow me on twitter and I will keep you informed about my work :). I tweet about #asterisk and #voip related resources/content at <a href="#" target="_blank"></a>@devtele</p>
                        <div class="source">  
                            <span class="name"><a href="index.html">Achyut Devkota</a></span>
                            <br />
                            <span class="title">System Engineer / Voice Application Architect</span>
                        </div><!--//source-->
                    </div><!--//speech-bubble-->                        
                </div><!--//author-message-->

                <div class="clearfix"></div>
                <div class="info text-center">
                    <h4 class="sub-title">Get Connected</h4>
                    <ul class="social-icons list-inline">
                        <li><a href="https://twitter.com/AchyutDev" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/achyut.dev" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="http://np.linkedin.com/pub/achyut-devkota/64/288/701"  target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://instagram.com/achyutdev/"  target="_blank"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://github.com/achyutdev"  target="_blank"><i class="fa fa-github-alt"></i></a></li>
                        <li><a href="https://plus.google.com/+Achyutdev"  target="_blank"><i class="fa fa-google-plus"></i></a></li>   
                        <li class="last"><a href="http://www.slideshare.net/AchyutDevkota"  target="_blank"><i class="fa fa-slideshare"></i></a></li>              
                    </ul>
                </div><!--//info-->
            </div><!--//contact-inner-->
        </div><!--//container-->
    </section><!--//contact--> 